numpy
scipy
matplotlib==2.0.2
tqdm

sphinx==2.0.1

# Optional, depending on what you need. See
# https://xiuminglib.readthedocs.io/en/latest/index.html#dependencies
# for instructions
# opencv-python
# OpenEXR
# trimesh
# bpy
